body {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(232, 232, 232, 0.5)
    ),
    url("../assets/images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.lform {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
